.alert-style {
    margin-top: 10px;
    margin-bottom: 10px;
}

#drawing {
    margin-top: 10px;
}


/* Buttons area styles */

.buttons {
    margin-top: 30px;
}

.btnawesome {
    margin-right: 8px;
}